<div class="container">
  <div class="row">
    <table class="table table-hover" style="width:100%">
      <tr>
        <th>Username</th>
        <th>Plec</th>
        <th>wiek</th>
        <th>Pseudonim</th>
        <th>Last active</th>
        <th>Miasto</th>
      </tr>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.plec}}</td>
          <td>{{user.age}}</td>
          <td>{{user.pseudonim}}</td>
          <td>{{user.lastActive}}</td>
          <td>{{user.miasto}}</td>
        </tr>
    </table>
  </div>
  </div>