<form [formGroup]="registerForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <label class="control-label" style="margin-right:10px">Jestem: </label>
    <label class="radio-inline">
      <input class="mr-3" type="radio" value="Mężczyzna" formControlName="Plec">Mężczyzną
    </label>
    <label class="radio-inline ml-3">
      <input class="mr-3" type="radio" value="Kobieta" formControlName="Plec">Kobietą
    </label>
  </div>

  <div class="form-group">
    <input type="text" 
    [ngClass]="{'is-invalid': registerForm.get('username').errors 
    && registerForm.get('username').touched}"
    class="form-control" 
    formControlName="username"
    placeholder="Username">
    <div class="invalid-feedback"> 
    Podaj nazwę uzytkownika
  </div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('Pseudonim').errors && registerForm.get('Pseudonim').touched}" class="form-control"
      placeholder="Pseudonim" formControlName="Pseudonim">
    <div class="invalid-feedback" *ngIf="registerForm.get('Pseudonim').touched && registerForm.get('Pseudonim').hasError('required')">Pseudonim jest wymagany</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('DataUrodzenia').errors && registerForm.get('DataUrodzenia').touched}" class="form-control"
      placeholder="Data Urodzenia" formControlName="DataUrodzenia" type="text" bsDatepicker >
    <div class="invalid-feedback" *ngIf="registerForm.get('DataUrodzenia').touched && registerForm.get('DataUrodzenia').hasError('required')">Data urodzenia jest wymagana</div>
  </div>

  <div class="form-group">
    <input [ngClass]="{'is-invalid': registerForm.get('Miasto').errors && registerForm.get('Miasto').touched}" class="form-control"
      placeholder="Miasto" formControlName="Miasto">
    <div class="invalid-feedback" *ngIf="registerForm.get('Miasto').touched && registerForm.get('Miasto').hasError('required')">Miasto jest wymagane</div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('password').errors 
    && registerForm.get('password').touched}"
    class="form-control"  
    formControlName="password" 
    placeholder="Password">
    <div class="invalid-feedback" 
      *ngIf="registerForm.get('password').hasError('required') 
        && registerForm.get('password').touched"> 
        Hasło jest wymagane 
  </div>
  <div class="invalid-feedback" 
    *ngIf="registerForm.get('password').hasError('minlength') 
      && registerForm.get('password').touched"> 
      Hasło musi mieć minimum 4 znaki
   </div>

   <div class="invalid-feedback" 
    *ngIf="registerForm.get('password').hasError('maxlength') 
      && registerForm.get('password').touched"> 
      Hasło moze mieć maksymalnie 8 znaków
  </div>
  </div>

  <div class="form-group">
    <input type="password" 
    [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
    && registerForm.get('confirmPassword').touched
    || registerForm.get('confirmPassword').touched
    && registerForm.hasError('mismatch')}"
    class="form-control"  
    formControlName="confirmPassword" 
    placeholder="Confirm Pasword">
    <div class="invalid-feedback" 
    *ngIf="registerForm.get('confirmPassword').hasError('required') 
      && registerForm.get('confirmPassword').touched"> 
      Hasło jest wymagane 
</div>
<div class="invalid-feedback" 
*ngIf="registerForm.hasError('mismatch') 
  && registerForm.get('confirmPassword').touched"> 
  Hasło jest błędne
</div>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  </div>


</form>